In [2]:
#Import our Libraries
import pandas as pd
import sqlite3

In [3]:
#Read in our CSV
df = pd.read_csv('customer_orders.csv')

In [4]:
df.columns

Index(['order number', 'employee id', 'employee name', 'employee name.1',
       'employee_job_title', 'order date', 'order type', 'customer type',
       'cust id', 'customer name', 'customer name.1', 'prod category',
       'prod number', 'prod_name', 'quantity', 'price', 'order total'],
      dtype='object')

In [5]:
df_unique_columns = df[['order number', 'employee id', 'employee name',
       'employee_job_title', 'order date', 'order type', 'customer type',
       'cust id', 'customer name', 'prod category',
       'prod number', 'prod_name', 'quantity', 'price', 'order total']]

In [6]:
df_unique_columns

,order number,employee id,employee name,employee_job_title,order date,order type,customer type,cust id,customer name,prod category,prod number,prod_name,quantity,price,order total
0,1102935,900019019,Alexandra Kundt,Senior Sales Associate,2/9/2019,Retail,Individual,1574,Skipton Fealty,Olive Oil,OO206,Chili Extra Virgin Olive Oil 2pk,3,$45.00,135.0
1,1102935,900019019,Alexandra Kundt,Senior Sales Associate,2/9/2019,Retail,Individual,1574,Skipton Fealty,Olive Oil,OO206,Chili Extra Virgin Olive Oil 2pk,3,$45.00,135.0
2,1102976,900019019,Alexandra Kundt,Senior Sales Associate,2/15/2019,Retail,Individual,1809,Lanni D'Ambrogi,Gift Basket,GB301,Scented Olive Oil Candle Gift Basket,1,$19.50,19.5
3,1102976,900019019,Alexandra Kundt,Senior Sales Associate,2/15/2019,Retail,Individual,1809,Lanni D'Ambrogi,Gift Basket,GB301,Scented Olive Oil Candle Gift Basket,1,$19.50,19.5
4,1102988,900019019,Alexandra Kundt,Senior Sales Associate,2/16/2019,Retail,Individual,2253,Far Pow,Olive Oil,OO302,Chili Extra Virgin Olive Oil,4,$26.00,104.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5133,1107851,900015961,Wynona Smith,Sales Associate III,1/11/2021,Wholesale,Business,2905,Kautzer Inc,Olive Oil,OO608,Rosemary Extra Virgin Olive Oil 6pk,6,$123.00,738.0
5134,1107859,900015961,Wynona Smith,Sales Associate III,1/12/2021,Retail,Individual,3899,Derry Game,Gift Basket,GB303,Scented Olive Oil Lotion Gift Basket,4,$27.00,108.0
5135,1107913,900015961,Wynona Smith,Sales Associate III,1/18/2021,Retail,Individual,3165,Pren Stockport,Olive Oil,OO128,Chili Extra Virgin Olive Oil 12pk,2,$234.00,468.0
5136,1107972,900015961,Wynona Smith,Sales Associate III,1/27/2021,Retail,Individual,3688,Charlene Portam,Olive Oil,OO128,Chili Extra Virgin Olive Oil 12pk,2,$234.00,468.0
5137,1107998,900015961,Wynona Smith,Sales Associate III,1/31/2021,Retail,Individual,1478,Vernon de Almeida,Olive Oil,OO609,Lemon Extra Virgin Olive Oil 6pk,3,$123.00,369.0

In [7]:
df_clean_columns = df_unique_columns.reset_index()
df_clean_columns

,index,order number,employee id,employee name,employee_job_title,order date,order type,customer type,cust id,customer name,prod category,prod number,prod_name,quantity,price,order total
0,0,1102935,900019019,Alexandra Kundt,Senior Sales Associate,2/9/2019,Retail,Individual,1574,Skipton Fealty,Olive Oil,OO206,Chili Extra Virgin Olive Oil 2pk,3,$45.00,135.0
1,1,1102935,900019019,Alexandra Kundt,Senior Sales Associate,2/9/2019,Retail,Individual,1574,Skipton Fealty,Olive Oil,OO206,Chili Extra Virgin Olive Oil 2pk,3,$45.00,135.0
2,2,1102976,900019019,Alexandra Kundt,Senior Sales Associate,2/15/2019,Retail,Individual,1809,Lanni D'Ambrogi,Gift Basket,GB301,Scented Olive Oil Candle Gift Basket,1,$19.50,19.5
3,3,1102976,900019019,Alexandra Kundt,Senior Sales Associate,2/15/2019,Retail,Individual,1809,Lanni D'Ambrogi,Gift Basket,GB301,Scented Olive Oil Candle Gift Basket,1,$19.50,19.5
4,4,1102988,900019019,Alexandra Kundt,Senior Sales Associate,2/16/2019,Retail,Individual,2253,Far Pow,Olive Oil,OO302,Chili Extra Virgin Olive Oil,4,$26.00,104.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5133,5133,1107851,900015961,Wynona Smith,Sales Associate III,1/11/2021,Wholesale,Business,2905,Kautzer Inc,Olive Oil,OO608,Rosemary Extra Virgin Olive Oil 6pk,6,$123.00,738.0
5134,5134,1107859,900015961,Wynona Smith,Sales Associate III,1/12/2021,Retail,Individual,3899,Derry Game,Gift Basket,GB303,Scented Olive Oil Lotion Gift Basket,4,$27.00,108.0
5135,5135,1107913,900015961,Wynona Smith,Sales Associate III,1/18/2021,Retail,Individual,3165,Pren Stockport,Olive Oil,OO128,Chili Extra Virgin Olive Oil 12pk,2,$234.00,468.0
5136,5136,1107972,900015961,Wynona Smith,Sales Associate III,1/27/2021,Retail,Individual,3688,Charlene Portam,Olive Oil,OO128,Chili Extra Virgin Olive Oil 12pk,2,$234.00,468.0
5137,5137,1107998,900015961,Wynona Smith,Sales Associate III,1/31/2021,Retail,Individual,1478,Vernon de Almeida,Olive Oil,OO609,Lemon Extra Virgin Olive Oil 6pk,3,$123.00,369.0

In [8]:
df_clean_columns.columns = df_clean_columns.columns.str.replace(" ", "")
df_clean_columns.head(10)

,index,ordernumber,employeeid,employeename,employee_job_title,orderdate,ordertype,customertype,custid,customername,prodcategory,prodnumber,prod_name,quantity,price,ordertotal
0,0,1102935,900019019,Alexandra Kundt,Senior Sales Associate,2/9/2019,Retail,Individual,1574,Skipton Fealty,Olive Oil,OO206,Chili Extra Virgin Olive Oil 2pk,3,$45.00,135.00
1,1,1102935,900019019,Alexandra Kundt,Senior Sales Associate,2/9/2019,Retail,Individual,1574,Skipton Fealty,Olive Oil,OO206,Chili Extra Virgin Olive Oil 2pk,3,$45.00,135.00
2,2,1102976,900019019,Alexandra Kundt,Senior Sales Associate,2/15/2019,Retail,Individual,1809,Lanni D'Ambrogi,Gift Basket,GB301,Scented Olive Oil Candle Gift Basket,1,$19.50,19.50
3,3,1102976,900019019,Alexandra Kundt,Senior Sales Associate,2/15/2019,Retail,Individual,1809,Lanni D'Ambrogi,Gift Basket,GB301,Scented Olive Oil Candle Gift Basket,1,$19.50,19.50
4,4,1102988,900019019,Alexandra Kundt,Senior Sales Associate,2/16/2019,Retail,Individual,2253,Far Pow,Olive Oil,OO302,Chili Extra Virgin Olive Oil,4,$26.00,104.00
5,5,1103012,900019019,Alexandra Kundt,Senior Sales Associate,2/19/2019,Wholesale,Business,4083,Swift Inc,Olive Oil,OO125,Garlic Extra Virgin Olive Oil 12pk,4,$234.00,936.00
6,6,1103031,900019019,Alexandra Kundt,Senior Sales Associate,2/22/2019,Retail,Individual,2678,Carmine Priestnall,Olive Oil,OO128,Chili Extra Virgin Olive Oil 12pk,3,$234.00,702.00
7,7,1103106,900019019,Alexandra Kundt,Senior Sales Associate,3/9/2019,Retail,Individual,1913,Tann Angear,Bath products,BP502,Vanilla and Olive Oil Candle,2,$6.99,13.98
8,8,1103113,900019019,Alexandra Kundt,Senior Sales Associate,3/11/2019,Wholesale,Business,4090,Hilll Group,Olive Oil,OO206,Chili Extra Virgin Olive Oil 2pk,5,$45.00,225.00
9,9,1103172,900019019,Alexandra Kundt,Senior Sales Associate,3/18/2019,Retail,Individual,3896,Devlin Nock,Olive Oil,OO204,Lemon Extra Virgin Olive Oil 2pk,4,$45.00,180.00

In [9]:
df_clean_columns[df.duplicated()]

,index,ordernumber,employeeid,employeename,employee_job_title,orderdate,ordertype,customertype,custid,customername,prodcategory,prodnumber,prod_name,quantity,price,ordertotal
1,1,1102935,900019019,Alexandra Kundt,Senior Sales Associate,2/9/2019,Retail,Individual,1574,Skipton Fealty,Olive Oil,OO206,Chili Extra Virgin Olive Oil 2pk,3,$45.00,135.00
3,3,1102976,900019019,Alexandra Kundt,Senior Sales Associate,2/15/2019,Retail,Individual,1809,Lanni D'Ambrogi,Gift Basket,GB301,Scented Olive Oil Candle Gift Basket,1,$19.50,19.50
20,20,1103475,900019019,Alexandra Kundt,Senior Sales Associate,4/29/2019,Retail,Individual,3654,Gabriel Polini,Bath products,BP402,Assorted Olive Bar Soap - 6 pk,3,$30.00,90.00
106,106,1107133,900019019,Alexandra Kundt,Senior Sales Associate,10/2/2020,Retail,Individual,3050,Damian Murcutt,Bath products,BP301,Mandarin and Olive Bath Salts,3,$8.50,25.50
116,116,1107392,900019019,Alexandra Kundt,Senior Sales Associate,11/9/2020,Retail,Individual,1583,Georgianna Harrild,Bath products,BP305,Mandarin and Olive Oil Lotion,2,$9.99,19.98
129,129,1107872,900019019,Alexandra Kundt,Senior Sales Associate,1/14/2021,Retail,Individual,2863,Charmine Eyers,Olive Oil,OO202,Extra Virgin Olive Oil - Medium 2pk,3,$16.75,50.25

In [10]:
df_clean_columns_rows = df_clean_columns.drop_duplicates(subset=["ordernumber", "orderdate"])
df_clean_columns_rows.head()

,index,ordernumber,employeeid,employeename,employee_job_title,orderdate,ordertype,customertype,custid,customername,prodcategory,prodnumber,prod_name,quantity,price,ordertotal
0,0,1102935,900019019,Alexandra Kundt,Senior Sales Associate,2/9/2019,Retail,Individual,1574,Skipton Fealty,Olive Oil,OO206,Chili Extra Virgin Olive Oil 2pk,3,$45.00,135.0
2,2,1102976,900019019,Alexandra Kundt,Senior Sales Associate,2/15/2019,Retail,Individual,1809,Lanni D'Ambrogi,Gift Basket,GB301,Scented Olive Oil Candle Gift Basket,1,$19.50,19.5
4,4,1102988,900019019,Alexandra Kundt,Senior Sales Associate,2/16/2019,Retail,Individual,2253,Far Pow,Olive Oil,OO302,Chili Extra Virgin Olive Oil,4,$26.00,104.0
5,5,1103012,900019019,Alexandra Kundt,Senior Sales Associate,2/19/2019,Wholesale,Business,4083,Swift Inc,Olive Oil,OO125,Garlic Extra Virgin Olive Oil 12pk,4,$234.00,936.0
6,6,1103031,900019019,Alexandra Kundt,Senior Sales Associate,2/22/2019,Retail,Individual,2678,Carmine Priestnall,Olive Oil,OO128,Chili Extra Virgin Olive Oil 12pk,3,$234.00,702.0

In [11]:
connection = sqlite3.connect("database.db")

In [13]:
df_clean_columns_rows.to_sql("customer_orders_table", connection, if_exists="replace", index=False)

5130